body{
    margin: 0%;
}

section{
    position: absolute;
    height: 100vh;
    margin: 0;
    padding: 0%;
}

p{
    position: relative;
    font-family: "lores-9-wide", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 200%;
    padding: 15px;
}

.hover-image{
    width: 20%; 
    height: auto; 
}

.hover-image:hover {
    transform: scale(7);
}